<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .aboutcontainer {
            background-color: F0C768;
            color: rgb(0, 0, 0) !important;
        }
  
        .video-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
margin: 20px;
border-radius: 10px 10px 10px 10px;

}
}
.video-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:relative;
}
    </style>
</head>
<body>
    <div class="aboutcontainer">
        <div class="row">
            <div class="col">
                <h1 style="display: block; float: center; margin-top :20px; margin-left: 70px;";>About Us</h1>
            </div>
            <div class="col">
                <div class="about"><h1>
                    <div class="video-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/srFlVttybN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>